.browse{
    font-family: 'Montserrat', 'sans-serif';
    background-color: paleturquoise;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.recent{
    padding: 10px;
    display: flex;
    justify-content: center;
}

table{
  min-width: 1000px;
}

thead{
  font-family: 'Montserrat', 'sans-serif';
  font-size: 22px;
}

tr{
  padding: 10px;
  font-family: 'Montserrat', 'sans-serif';
}

td a{
  margin: 10px;
  font-size: 20px;
}


.varlink{
  color: #4d4dff;
}


.students img, .projectsvg img{
  position: absolute;
  max-width: 400px;
  max-height: 300px;
  opacity: 0.25;
  top: 150px;
  left: 50px;
  z-index: -1;
}

.projectsvg img{
  top: 150px;
  left: 1200px;
}

.view, .upload, .download{
  font-family: 'Montserrat', 'sans-serif';
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.download span{
  padding-top: 10px;
}
