.browse{
    font-family: 'Montserrat', 'sans-serif';
    background-color: paleturquoise;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recent{
    padding: 10px;
    font-family: 'Montserrat', 'sans-serif';
    display: flex;
}

/* .table{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self: start;
} */