.parent, .project form{
  font-family: 'Montserrat', 'sans-serif';
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 600px;
}

.project{
  position: relative;
  top: 30px;
  border: 2px solid #404046;
}

.project form{
  padding: 10px;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
}

.agr{
  position: relative;
  bottom: 20px;
}

.sub{
    font-family: 'Montserrat', 'sans-serif';
    border: 3px solid rgb(206, 206, 206);
    height: 40px;
    width: 70px;
    background-color: white;
    border-radius: 35px;
    color: #404046;
}

.sub:hover{
    transition: 0.2s;
    background-color: #FFCC57;
    color: white;
}

.desc{
  font-family: 'Montserrat','sans-serif';
}
